@import "tailwindcss";

@theme {
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-purple: #5146E5;
  --color-light-purple: #E1E6FF;
  --color-ghost-white: #F9FAFD;
  --color-light-gray: #DCDDDC;
}